version: '3.8'
services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: "postgresql://postgres:password@db:5432/postgres"
      DB_USER: "postgres"
      DB_PASS: "password"
      DB_HOST: "db"
      DB_PORT: "5432"
      DB_NAME: "postgres"
      JWT_SECRET_KEY: "change-this-secret-in-prod"
    depends_on:
      - db
    volumes:
      - ./backend:/app/backend:ro

  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
